language: php
sudo: required
 
matrix:
  include:
    - os: linux
      dist: trusty

services:
  - docker

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_install:
  - uname -a
  - php --version
  - docker version
  - composer self-update

install:
  - composer install
  - php env-start.php

script:
  - docker ps
#  - php vendor/bin/codecept run acceptance
#  - php vendor/bin/codecept run functional
  - php vendor/bin/codecept run unit





