version: '2.2'
services:
  nginx:
    image: nginx:1.14
    ports:
      - "443:443"
    volumes:
      - ./html:/var/www/html
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/virtual-servers:/etc/nginx/conf.d/virtual-servers
      - ./config/nginx/cert:/etc/nginx/cert
      - ./config/nginx/ssl:/etc/nginx/ssl
      - ./logs/nginx_logs/web56:/var/log/nginx/web56
      - ./logs/nginx_logs/web70:/var/log/nginx/web70
      - ./logs/nginx_logs/web71:/var/log/nginx/web71
      - ./logs/nginx_logs/web72:/var/log/nginx/web72
      - ./logs/nginx_logs/webubuntu71:/var/log/nginx/webubuntu71
      - ./logs/nginx_logs/webubuntu74:/var/log/nginx/webubuntu74
      - ./logs/nginx_logs/phpmyadmin:/var/log/nginx/phpmyadmin
      - ./logs/nginx_logs/rabbitmq:/var/log/nginx/rabbitmq
      - /etc/localtime:/etc/localtime
    privileged: true
    networks:
      ohrmdevnet:
        ipv4_address: 10.5.2.1
    restart: always
    container_name: dev_nginx

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    volumes:
    - /etc/localtime:/etc/localtime
    environment:
      PMA_HOSTS: db10422,db10117
    networks:
      ohrmdevnet:
        ipv4_address: 10.5.2.2
    restart: always
    container_name: dev_phpmyadmin

networks:
  ohrmdevnet:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16
         gateway: 10.5.0.1
