[mysqld]
max_allowed_packet=96M
event_scheduler=on
connect_timeout=180
innodb_buffer_pool_size=1G
innodb_additional_mem_pool_size=1G
innodb_log_buffer_size=8M
innodb_lock_wait_timeout=90
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
