[mysqld]
max_allowed_packet=64M
event_scheduler=on
connect_timeout=10
innodb_buffer_pool_size=2G
innodb_log_buffer_size=8M
innodb_log_file_size=1G
innodb_log_buffer_size=8M
innodb_lock_wait_timeout=30
#innodb_additional_mem_pool_size=1G
delayed_insert_timeout=300
net_read_timeout=30
net_write_timeout=60
slave_net_timeout=600
wait_timeout=600
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
sql-mode=
interactive_timeout=3600

